.App {
  width: 50vw;
  margin: auto;
  margin-top: 2.5rem;
}
.button-primary {
  width: 100%;
}
.container {
  width: 90vw;
  border-radius: 5px;
  background-color: rgba(147, 50, 237, 0.17);
  display: flex;
  flex-direction: column;
  color: black;
  margin-bottom: 2.5rem;
}
.name {
  margin-top: 1.5rem;
}
.details {
  margin-left: 1rem;
}
.checked {
  margin-left: 0.125rem;
  color: orange;
}
.fa {
  margin-left: 0.125rem;
}
.em {
  margin-right: 1rem;
}
.mini-container {
  float: right;
  width: 25vw;
  display: flex;
  justify-content: space-around;
  color: aqua;
}
